In [5]:
import pandas, numpy

In [6]:
phone_logs_df = pandas.read_csv('hw01-data-cleaned/conference_room_phone_logs.csv')
phone_logs_df.head()

,DATE,TIME,NUMBER CALLED,TYPE,red text?
0,01/04/2002,Friday,(509) 575-3571,Probation,0
1,01/04/2002,Friday,(509) 575-6091,Human Services (Personnel),0
2,01/04/2002,Friday,(509) 575-6184,City Attorney,0
3,01/04/2002,Friday,(509) 965-2405,Private Alderwood Phone Number 20,0
4,01/04/2002,Friday,(509) 965-2405,Private Alderwood Phone Number 20,0

In [7]:
voter_registry_df = pandas.read_csv('hw01-data-cleaned/voter_registry.csv')
voter_registry_df.head()

,LAST NAME,FIRST NAME,DOB,POB,SSN,SEX,STREET NUMBER,STREET NAME,VOTER REG DATE,PARTY
0,SMITH,Alex,01/05/1917,Alderwood,970-18-7974,MALE,1355.0,ANGORA,01/01/1935,DEMOCRAT
1,JOHNSON,Bonnie,01/07/1916,Alderwood,228-59-7899,FEMALE,1773.0,SECOND,01/02/1935,DEMOCRAT
2,WILLIAMS,Charley,02/07/1913,Utah,176-01-4411,MALE,155.0,BRITTANY,01/03/1935,DEMOCRAT
3,JONES,Danielle,11/05/1915,Alderwood,624-29-3132,FEMALE,13.0,COLLIE,01/04/1935,DEMOCRAT
4,BROWN,Earl,01/10/1916,PENNSYLVANIA,882-79-8502,MALE,671.0,SAGUARO,01/05/1935,REPUBLICAN